<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Axe Agent" Language="1033" Version="1.0.0" Manufacturer="Axefull" UpgradeCode="B5C3D4E5-F6A7-8901-BCDE-234567890123">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Acao Personalizada para Executar o App apos instalacao -->
    <SetProperty Id="WixShellExecTarget" Value="[#File_MainExe]" After="CostFinalize" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Axe Agent" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Axe Agent" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
        <Component Id="Comp_MainExe" Guid="A1B2C3D4-E5F6-7890-ABCD-123456789012">
          <File Id="File_MainExe" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\Axe Agent.exe" KeyPath="yes">
            <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Axe Agent" WorkingDirectory="INSTALLFOLDER" Advertise="no" />
            <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="Axe Agent" WorkingDirectory="INSTALLFOLDER" Advertise="no" />
          </File>
          <!-- Registro do protocolo axeagent:// -->
          <RegistryValue Root="HKCR" Key="axeagent" Type="string" Value="URL:axeagent Protocol" KeyPath="no"/>
          <RegistryValue Root="HKCR" Key="axeagent" Name="URL Protocol" Type="string" Value="" KeyPath="no"/>
          <RegistryValue Root="HKCR" Key="axeagent\shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]Axe Agent.exe&quot; &quot;%1&quot;" KeyPath="no"/>
        </Component>        <Component Id="Comp_2" Guid="CC77D9C7-0FA9-4F9F-ADF6-38EA29D23014">
          <File Id="File_2" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\chrome_100_percent.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_3" Guid="B52E690C-6E05-4B9B-8086-1D5361CEC913">
          <File Id="File_3" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\chrome_200_percent.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_4" Guid="33710BB0-2737-4BC7-B68E-56B9A60C9EE0">
          <File Id="File_4" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\d3dcompiler_47.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_5" Guid="7F23B049-E92E-4668-A811-43475FC1B7FF">
          <File Id="File_5" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\ffmpeg.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_6" Guid="E823FF03-E4F5-4DED-B030-73FE3E9B79EE">
          <File Id="File_6" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\icudtl.dat" KeyPath="yes" />
        </Component>        <Component Id="Comp_7" Guid="62A3EE20-14A8-406F-BCCA-C19E6597453E">
          <File Id="File_7" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\libEGL.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_8" Guid="4D5BB087-52C0-4B75-93D3-1006C2D2880C">
          <File Id="File_8" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\libGLESv2.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_9" Guid="FCCA4726-E7AB-43C6-A0D6-8AAFAF1702C4">
          <File Id="File_9" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\LICENSE.electron.txt" KeyPath="yes" />
        </Component>        <Component Id="Comp_10" Guid="F4C5BAD3-6291-411B-8422-BEFFC07E0AF8">
          <File Id="File_10" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\LICENSES.chromium.html" KeyPath="yes" />
        </Component>        <Component Id="Comp_11" Guid="9F692B13-FF48-4D40-8EBF-782F89E5C0B6">
          <File Id="File_11" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_12" Guid="D1AAA133-C837-4A98-9592-DB39474519A5">
          <File Id="File_12" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\snapshot_blob.bin" KeyPath="yes" />
        </Component>        <Component Id="Comp_13" Guid="CE548886-00A4-4912-82D6-9D2A177F2451">
          <File Id="File_13" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\v8_context_snapshot.bin" KeyPath="yes" />
        </Component>        <Component Id="Comp_14" Guid="7708D326-F5BE-46F8-8D58-2686C45B7824">
          <File Id="File_14" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\vk_swiftshader.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_15" Guid="FB13805C-1863-40FF-B3BD-20754A36CC4F">
          <File Id="File_15" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\vk_swiftshader_icd.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_16" Guid="8C235061-BDA3-43AA-AD2B-3FC6DBEB227A">
          <File Id="File_16" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\vulkan-1.dll" KeyPath="yes" />
        </Component>        <Component Id="Comp_17" Guid="834A7CCF-2E88-4604-A1FA-CAE4CA0E1B64">
          <File Id="File_17" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\af.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_18" Guid="94088347-C1D2-471D-8930-1EE6B17F8C90">
          <File Id="File_18" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\am.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_19" Guid="DEECA727-6225-422C-A43D-97CED9718D95">
          <File Id="File_19" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ar.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_20" Guid="BFD019BB-4B40-4E2A-A53A-82962DF70121">
          <File Id="File_20" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\bg.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_21" Guid="FA6148CD-DFF4-4FB3-A9B7-4341ACCB10CF">
          <File Id="File_21" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\bn.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_22" Guid="3D70D0AC-5963-4758-AC9D-10C522287B67">
          <File Id="File_22" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ca.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_23" Guid="4E5C565A-7366-488C-9DDB-95462A2CAF72">
          <File Id="File_23" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\cs.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_24" Guid="D82523CA-CE31-4B93-BC02-23E9E93CACF5">
          <File Id="File_24" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\da.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_25" Guid="7D941CCB-7F3B-4ED5-B59B-9DC53552C734">
          <File Id="File_25" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\de.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_26" Guid="6AE85702-2C37-4401-98B8-AFEE92526F36">
          <File Id="File_26" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\el.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_27" Guid="A7D1CC9B-0FB4-48E2-8DD7-BA2B30E0B0F2">
          <File Id="File_27" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\en-GB.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_28" Guid="34FE281B-0359-43EC-8088-FA6C79AA0C20">
          <File Id="File_28" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\en-US.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_29" Guid="2C7FDB10-1BFB-4B41-9030-578727078DFA">
          <File Id="File_29" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\es-419.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_30" Guid="99250036-B570-4EE3-A655-EFA10094E6A2">
          <File Id="File_30" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\es.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_31" Guid="B391A505-7BF9-4192-87CD-C61C58C0EE78">
          <File Id="File_31" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\et.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_32" Guid="FE704912-3EFB-46B8-885B-882E46EA8335">
          <File Id="File_32" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\fa.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_33" Guid="AF7927D6-5D92-4825-8534-F3415119DFC6">
          <File Id="File_33" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\fi.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_34" Guid="BDE1BCDB-8F2D-4C4F-BB36-9E19E84DC469">
          <File Id="File_34" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\fil.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_35" Guid="EFD93E97-57E3-4FB0-86F8-B6C5F42C977C">
          <File Id="File_35" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\fr.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_36" Guid="8E7B5F9C-657B-4EDD-ADDD-8011D4CCF4CF">
          <File Id="File_36" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\gu.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_37" Guid="E6AF507A-C8E3-483C-9B2C-32D581ABBBE0">
          <File Id="File_37" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\he.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_38" Guid="4789D939-E936-44C8-89AB-571A3ED1AE46">
          <File Id="File_38" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\hi.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_39" Guid="D7CB14F5-0FAC-40D8-A1AD-DD2D39123147">
          <File Id="File_39" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\hr.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_40" Guid="FAB5AE31-07C1-48A1-83D8-262BC16FD6F6">
          <File Id="File_40" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\hu.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_41" Guid="94C786C4-FB13-4DE0-8233-B5BF8C38AA21">
          <File Id="File_41" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\id.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_42" Guid="748C7ADB-A05D-41E9-B7CA-91A52E2F0D10">
          <File Id="File_42" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\it.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_43" Guid="22A87118-D878-47C7-A727-1CCB04585B99">
          <File Id="File_43" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ja.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_44" Guid="3E8A2293-797F-4B2A-94C9-BCAAB43FDC17">
          <File Id="File_44" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\kn.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_45" Guid="5891DA87-CC37-4373-B6D1-BE894A26E2EA">
          <File Id="File_45" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ko.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_46" Guid="0D96794B-93FF-461E-BBD4-4B1DD53B4D4B">
          <File Id="File_46" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\lt.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_47" Guid="754C749E-29A8-4DB3-895D-609F9C1996A7">
          <File Id="File_47" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\lv.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_48" Guid="C4E03C04-0569-4422-B6D1-E31F614E519E">
          <File Id="File_48" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ml.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_49" Guid="2A9F6923-5B0B-4938-9009-96C632B1D486">
          <File Id="File_49" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\mr.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_50" Guid="B59DABD9-3C0A-4683-AA2D-7202E88D422B">
          <File Id="File_50" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ms.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_51" Guid="E95D9235-1B07-42AE-A7F8-53F4FE8021B4">
          <File Id="File_51" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\nb.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_52" Guid="B9E875D0-B259-4EFA-BB26-D257D5CE63B8">
          <File Id="File_52" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\nl.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_53" Guid="386AD632-1A44-438C-B45C-EA8F4C291871">
          <File Id="File_53" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\pl.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_54" Guid="B72CA721-838E-4507-A467-7BAA1A06A979">
          <File Id="File_54" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\pt-BR.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_55" Guid="21D767D0-78B6-4951-99A7-CC0D1F5AA755">
          <File Id="File_55" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\pt-PT.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_56" Guid="F33F3D7E-5D10-45F5-8794-B88466C56B12">
          <File Id="File_56" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ro.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_57" Guid="32231176-A9A6-4E20-9227-F2A4605C84AE">
          <File Id="File_57" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ru.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_58" Guid="8F7BD0A0-C9ED-4CBC-89A2-FA27B98FB5F6">
          <File Id="File_58" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\sk.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_59" Guid="FF157A47-A929-47F1-B605-D7899D5307E0">
          <File Id="File_59" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\sl.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_60" Guid="D5317900-F294-4862-BDD1-B47CDB6893BE">
          <File Id="File_60" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\sr.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_61" Guid="ABCB5BCA-6A5E-4CC2-952D-0E173F07EB3A">
          <File Id="File_61" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\sv.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_62" Guid="49FA7199-A548-44BF-8798-129AE9661AC8">
          <File Id="File_62" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\sw.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_63" Guid="2B5BD600-781A-44DA-96A7-E959A8B6551B">
          <File Id="File_63" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ta.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_64" Guid="7040E2B3-2B43-41A7-872B-3AA42AB86157">
          <File Id="File_64" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\te.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_65" Guid="FE386C15-7C2B-4449-9216-621D5DFD5054">
          <File Id="File_65" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\th.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_66" Guid="4F7F1949-4E76-4A5C-82B7-12F4FF76D62A">
          <File Id="File_66" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\tr.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_67" Guid="93F8DFDE-6EDF-450B-B890-0BA5A429E199">
          <File Id="File_67" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\uk.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_68" Guid="96541CB4-B794-4E20-A5DC-317BE74AF51D">
          <File Id="File_68" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\ur.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_69" Guid="04B1D3F1-E913-412C-BBA2-2A38678534F4">
          <File Id="File_69" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\vi.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_70" Guid="775E1128-C3D0-4C6C-9EFE-A91F663BFA75">
          <File Id="File_70" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\zh-CN.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_71" Guid="F0AC9014-A4D0-458A-A0C2-A2A0B4752307">
          <File Id="File_71" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\locales\zh-TW.pak" KeyPath="yes" />
        </Component>        <Component Id="Comp_72" Guid="7F593B4B-2CA2-422D-B578-6F73A2033725">
          <File Id="File_72" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app-update.yml" KeyPath="yes" />
        </Component>        <Component Id="Comp_73" Guid="9D1E61D0-1A4A-4240-A41C-09E5FEEF1E05">
          <File Id="File_73" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar" KeyPath="yes" />
        </Component>        <Component Id="Comp_74" Guid="8FD1668C-2F81-4388-8619-C6C6A9D1BEF2">
          <File Id="File_74" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\elevate.exe" KeyPath="yes" />
        </Component>        <Component Id="Comp_75" Guid="6BDD48C9-9A73-47B3-9193-1507497F58EA">
          <File Id="File_75" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\.env" KeyPath="yes" />
        </Component>        <Component Id="Comp_76" Guid="EAFF65A2-5E1C-4C24-8B4A-65C2FBCD3220">
          <File Id="File_76" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\.gitignore~" KeyPath="yes" />
        </Component>        <Component Id="Comp_77" Guid="0C28918A-BD40-4076-8A21-591DE185A8F2">
          <File Id="File_77" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\download.js~" KeyPath="yes" />
        </Component>        <Component Id="Comp_78" Guid="7250E663-8F9F-4805-9838-33E6E05C9FE2">
          <File Id="File_78" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\download.sh~" KeyPath="yes" />
        </Component>        <Component Id="Comp_79" Guid="158F4ABA-14A3-483D-8B15-4ED96C12F435">
          <File Id="File_79" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\download.ts~" KeyPath="yes" />
        </Component>        <Component Id="Comp_80" Guid="7CC118A9-15E6-4726-ACF6-56FD9F03D299">
          <File Id="File_80" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\index.js" KeyPath="yes" />
        </Component>        <Component Id="Comp_81" Guid="F91216C3-D57C-4745-BD1C-09443B7FA854">
          <File Id="File_81" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\index.js~" KeyPath="yes" />
        </Component>        <Component Id="Comp_82" Guid="815DE862-55C5-4BCC-880A-4F52C109F505">
          <File Id="File_82" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\package.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_83" Guid="32952A0E-52DC-4D30-B23D-C70B6C6B57F6">
          <File Id="File_83" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\package.json~" KeyPath="yes" />
        </Component>        <Component Id="Comp_84" Guid="6447A0B0-56D0-458D-9650-BA27ED56FDD6">
          <File Id="File_84" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\tsconfig.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_85" Guid="FFC0C8B9-5EA1-4E3C-9C03-FDD93DEAFF11">
          <File Id="File_85" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\tsconfig.json~" KeyPath="yes" />
        </Component>        <Component Id="Comp_86" Guid="DB8E8FA9-3A12-4886-B125-23C598CA7D2D">
          <File Id="File_86" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\lib\manifest.js~" KeyPath="yes" />
        </Component>        <Component Id="Comp_87" Guid="E64C7CA6-0F40-4F2B-977F-4B86BD113996">
          <File Id="File_87" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\lib\platforms.js~" KeyPath="yes" />
        </Component>        <Component Id="Comp_88" Guid="F221083E-12DD-4271-BF70-75BCD1F5D8EF">
          <File Id="File_88" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\lib\verify-file.js" KeyPath="yes" />
        </Component>        <Component Id="Comp_89" Guid="A75FB6F5-4809-4647-8A3C-3736794EC657">
          <File Id="File_89" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\lib\verify-file.js~" KeyPath="yes" />
        </Component>        <Component Id="Comp_90" Guid="331EB444-9DDF-4035-A867-6B8A51319EA5">
          <File Id="File_90" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\types\index.test-d.ts" KeyPath="yes" />
        </Component>        <Component Id="Comp_91" Guid="B7ADF632-9AA9-4276-BDCA-B57190415AFF">
          <File Id="File_91" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\types\index.test-d.ts~" KeyPath="yes" />
        </Component>        <Component Id="Comp_92" Guid="236716B7-ABF4-4A70-84E5-5B5BD8A7DDDD">
          <File Id="File_92" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\ffmpeg\types\lib\verify-file.test-d.ts~" KeyPath="yes" />
        </Component>        <Component Id="Comp_93" Guid="61EEDC93-B70B-4209-B8D4-173041204CB9">
          <File Id="File_93" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\win32-x64\ffmpeg.exe" KeyPath="yes" />
        </Component>        <Component Id="Comp_94" Guid="3CAF467F-9868-487A-BC7D-EB3F1C3E4516">
          <File Id="File_94" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\win32-x64\package.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_95" Guid="3544B4F0-B241-44AF-8C83-464CC0574FE4">
          <File Id="File_95" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\ffprobe\index.js" KeyPath="yes" />
        </Component>        <Component Id="Comp_96" Guid="D99A8DD3-F2CC-4714-A3FF-62C6AB7D787E">
          <File Id="File_96" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\ffprobe\package.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_97" Guid="97A14CD3-2A0F-44D4-BE89-41BC87A2D338">
          <File Id="File_97" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\ffprobe\tsconfig.json" KeyPath="yes" />
        </Component>        <Component Id="Comp_98" Guid="6E81EFB3-DFB2-4EBB-BE30-88027F01C260">
          <File Id="File_98" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\ffprobe\lib\verify-file.js" KeyPath="yes" />
        </Component>        <Component Id="Comp_99" Guid="79374316-2703-40B3-87E9-FA594D6EB03B">
          <File Id="File_99" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\win32-x64\ffprobe.exe" KeyPath="yes" />
        </Component>        <Component Id="Comp_100" Guid="65FC24A2-CB02-48FA-A341-CE9B60CEED63">
          <File Id="File_100" Source="C:\Users\FAGNER\fingerprint-release\win-unpacked\resources\app.asar.unpacked\node_modules\@ffprobe-installer\win32-x64\package.json" KeyPath="yes" />
        </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="Comp_FolderCleanup" Guid="C6D4E5F6-A7B8-9012-CDEF-345678901234">
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Axefull\AxeAgent" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Axe Agent" Level="1">
      <ComponentRef Id="Comp_MainExe" />
      <ComponentRef Id="Comp_2" />
      <ComponentRef Id="Comp_3" />
      <ComponentRef Id="Comp_4" />
      <ComponentRef Id="Comp_5" />
      <ComponentRef Id="Comp_6" />
      <ComponentRef Id="Comp_7" />
      <ComponentRef Id="Comp_8" />
      <ComponentRef Id="Comp_9" />
      <ComponentRef Id="Comp_10" />
      <ComponentRef Id="Comp_11" />
      <ComponentRef Id="Comp_12" />
      <ComponentRef Id="Comp_13" />
      <ComponentRef Id="Comp_14" />
      <ComponentRef Id="Comp_15" />
      <ComponentRef Id="Comp_16" />
      <ComponentRef Id="Comp_17" />
      <ComponentRef Id="Comp_18" />
      <ComponentRef Id="Comp_19" />
      <ComponentRef Id="Comp_20" />
      <ComponentRef Id="Comp_21" />
      <ComponentRef Id="Comp_22" />
      <ComponentRef Id="Comp_23" />
      <ComponentRef Id="Comp_24" />
      <ComponentRef Id="Comp_25" />
      <ComponentRef Id="Comp_26" />
      <ComponentRef Id="Comp_27" />
      <ComponentRef Id="Comp_28" />
      <ComponentRef Id="Comp_29" />
      <ComponentRef Id="Comp_30" />
      <ComponentRef Id="Comp_31" />
      <ComponentRef Id="Comp_32" />
      <ComponentRef Id="Comp_33" />
      <ComponentRef Id="Comp_34" />
      <ComponentRef Id="Comp_35" />
      <ComponentRef Id="Comp_36" />
      <ComponentRef Id="Comp_37" />
      <ComponentRef Id="Comp_38" />
      <ComponentRef Id="Comp_39" />
      <ComponentRef Id="Comp_40" />
      <ComponentRef Id="Comp_41" />
      <ComponentRef Id="Comp_42" />
      <ComponentRef Id="Comp_43" />
      <ComponentRef Id="Comp_44" />
      <ComponentRef Id="Comp_45" />
      <ComponentRef Id="Comp_46" />
      <ComponentRef Id="Comp_47" />
      <ComponentRef Id="Comp_48" />
      <ComponentRef Id="Comp_49" />
      <ComponentRef Id="Comp_50" />
      <ComponentRef Id="Comp_51" />
      <ComponentRef Id="Comp_52" />
      <ComponentRef Id="Comp_53" />
      <ComponentRef Id="Comp_54" />
      <ComponentRef Id="Comp_55" />
      <ComponentRef Id="Comp_56" />
      <ComponentRef Id="Comp_57" />
      <ComponentRef Id="Comp_58" />
      <ComponentRef Id="Comp_59" />
      <ComponentRef Id="Comp_60" />
      <ComponentRef Id="Comp_61" />
      <ComponentRef Id="Comp_62" />
      <ComponentRef Id="Comp_63" />
      <ComponentRef Id="Comp_64" />
      <ComponentRef Id="Comp_65" />
      <ComponentRef Id="Comp_66" />
      <ComponentRef Id="Comp_67" />
      <ComponentRef Id="Comp_68" />
      <ComponentRef Id="Comp_69" />
      <ComponentRef Id="Comp_70" />
      <ComponentRef Id="Comp_71" />
      <ComponentRef Id="Comp_72" />
      <ComponentRef Id="Comp_73" />
      <ComponentRef Id="Comp_74" />
      <ComponentRef Id="Comp_75" />
      <ComponentRef Id="Comp_76" />
      <ComponentRef Id="Comp_77" />
      <ComponentRef Id="Comp_78" />
      <ComponentRef Id="Comp_79" />
      <ComponentRef Id="Comp_80" />
      <ComponentRef Id="Comp_81" />
      <ComponentRef Id="Comp_82" />
      <ComponentRef Id="Comp_83" />
      <ComponentRef Id="Comp_84" />
      <ComponentRef Id="Comp_85" />
      <ComponentRef Id="Comp_86" />
      <ComponentRef Id="Comp_87" />
      <ComponentRef Id="Comp_88" />
      <ComponentRef Id="Comp_89" />
      <ComponentRef Id="Comp_90" />
      <ComponentRef Id="Comp_91" />
      <ComponentRef Id="Comp_92" />
      <ComponentRef Id="Comp_93" />
      <ComponentRef Id="Comp_94" />
      <ComponentRef Id="Comp_95" />
      <ComponentRef Id="Comp_96" />
      <ComponentRef Id="Comp_97" />
      <ComponentRef Id="Comp_98" />
      <ComponentRef Id="Comp_99" />
      <ComponentRef Id="Comp_100" />

      <ComponentRef Id="Comp_FolderCleanup" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="LaunchApplication" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
